header {
    background-color: #8fed8f;
    padding: 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
}

#logout-button{
    position: absolute;
    right: 2%;
    top: 2%;
}
#add-record{
    position:absolute;
    right:3%;
    Top:15%
}

